/* :root {
    --gray: #ffffff11;
    --light-gray: #ffffff44;
    --black: #000000;
} */

/* body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

/* .header {
    background-color: #333;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 54px;
    border-bottom: 1px solid white;
} */

/* .content-wrapper {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
} */

.main-content {
    flex: 1;
}
/* 
.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: sticky;
    bottom: 0;
    z-index: 1000;
    height: 56px;
    border-top: 1px solid white;
} */
