/* ===== Testimonials CSS ===== */
.ln-testimonials {
    padding-top: 120px !important;

    @media #{$xs} {
        padding-top: 80px;
    }
}

.ln-single-testimonial {
    padding: 30px;
    box-shadow: 0px 60px 120px -20px #ebeffd;
    background: var(--white);
    margin-bottom: 50px;

    .ln-testimonial-ratings {
        margin-bottom: 10px;

        i {
            color: #fbb040;
        }
    }

    .ln-testimonial-content {
        margin-bottom: 25px;

        p {
            font-size: 16px;
            line-height: 30px;
            color: #637381;
        }
    }

    .ln-testimonial-info {
        display: flex;
        align-items: center;

        .ln-testimonial-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 20px;
        }

        .ln-testimonial-meta {
            h4 {
                font-weight: 600;
                font-size: 14px;
            }

            p {
                font-size: 12px;
                color: #969696;
            }
        }
    }
}

.ln-brands {
    .ln-title {
        margin-bottom: 30px;

        h6 {
            font-weight: normal;
            font-size: 12px;
            color: var(--body-color);
            display: inline-block;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 30px;
                height: 1px;
                background: #afb2b5;
                right: -40px;
                top: 50%;
            }
        }
    }

    .ln-brands-logo {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-right: -40px;

        .ln-single-logo {
            margin-right: 40px;
            margin-bottom: 20px;
            max-width: 140px;

            &:hover {
                img {
                    filter: none;
                }
            }

            img {
                filter: grayscale(1);
                @include transition(0.3s);
            }
        }
    }
}
