.ln-collapsible-card {
    position: relative;
    margin: 20px auto;
    /* background-color: #ffffff; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ln-collapsible-heading {
    cursor: pointer;
    padding: 15px;
    /* border-bottom: 1px solid #ffffff; */
    font-size: 18px;
    color: var(--body-color);
    transition: background-color 0s ease;
    margin: 0px;
}

.ln-collapsible-content {
    max-height: 0;
    padding: 0 15px;
    opacity: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: max-height 0.6s ease-out, opacity 0.6s ease-out,
        padding 0.6s ease-out;
    /* background-color: #ffffff; */
}

.ln-collapsible-card:hover .ln-collapsible-content {
    cursor: pointer;
    max-height: 300px;
    opacity: 1;
    padding: 15px;
    /* background-color: unset; */
}

.ln-collapsible-card:hover .ln-collapsible-heading {
    color: var(--primary-color);
    /* background-color: #ffffff; */
}

.ln-collapsible-card:hover {
    background-color: #ffffff;
    /* background-color: unset !important; */
}

/* Mobile and tablet adjustments */
@media (max-width: 768px) {
    .ln-collapsible-heading {
        /* Additional styles if needed for mobile devices */
        padding: 12px;
    }

    .ln-collapsible-content {
        /* Adjustments specific for mobile */
        max-height: 0;
        opacity: 0;
        padding: 0 12px;
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out,
            padding 0.5s ease-out;
    }

    .ln-collapsible-card:focus-within .ln-collapsible-content {
        max-height: 500px;
        opacity: 1;
        padding: 15px; /* Consistent padding */
        color: var(--primary-color);
    }
}
