.ln-info-link {
    color: var(--body-color) !important;
}

.text-danger {
    font-size: 11px !important;
    font-weight: 500;
    padding: 2px;
    /* background-color: rgba(var(--bs-danger-rgb), 0.75) !important;
    color: white !important;
    border-radius: 0px 0px 5px 5px; */
}
