.nav-item {
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: var(--black);
    width: auto !important;
    cursor: pointer;
}

.hovered {
    background-color: var(--gray);
    width: 285px !important;
    /* & > div > a > span {
        display: block !important;
    } */
    display: flex;
    align-items: center;
}

.nav-item:hover.span {
    display: block !important;
}

.nav-item.active {
    background-color: var(--light-gray);
}
/* 
.nav-item.active:not(.expanded) {
	width: 52px;
} */

.nav-link {
    align-items: center;
    margin-left: 5px;
}

.nav-item .nav-link {
    display: inline-flex;
    gap: 15px;
}

.menu-item {
    height: 56px;
    align-content: center;
}

.toggle-button {
    position: absolute;
    left: 65px;
    top: calc(50vh - 5px);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #b4b4b4;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-button-svg {
    height: 24px;
    width: 24px;
}

.expanded {
    /* width: 280px !important; */
    transition: width 0.5s ease;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;

    & > .toggle-button {
        left: 285px !important;
        transition: left 0.5s;
        -webkit-transition: left 0.5s;
        -moz-transition: left 0.5s;
    }
}

.collapsed {
    width: 80px;
    transition: width 0.5s ease;
    & > .toggle-button {
        transition: left 0.5s;
    }
}
