.logo {
    font-family: "Courier New", Courier, monospace;
    display: table-column;
}

.logo-name {
    font-size: 18px;
    font-weight: 800;
}

.logo-caption {
    font-size: 12px;
    font-weight: 500;
}

/* Overwriting default CSS from bootstrap as per requirement */

.navbar-nav {
    padding-left: 30px !important;
}

/* .trapezoid {
    background: white;
    transform: perspective(5px) rotateX(0.2deg);
} */

.ln-feature-content .ln-feature-desc {
    /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.brand-logo-tag-name {
    margin-top: -10px;
    font-size: 8px;
}
