.img-wrap {
    position: relative;
}
.img-wrap::before {
    background-image: -webkit-linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.ln-home-particles {
    position: absolute !important;
    width: 100vw;
}
